/* Website syles */
html {
  margin: auto;
  height: 100%;
}

body {
  margin: 0;
  border: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: auto;
  height: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAAABCAIAAAAU3Xa1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAWSURBVChTY/z+/TvDKBgFVAVXr14FAM/dBWZT7WXwAAAAAElFTkSuQmCC);
  background-repeat: repeat-y;
  background-position-x: left;
}

.header a, .header a:visited {
  background-color: #24292e;
  color: white;
  font-size: 30px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-decoration: none;
}

.header a span, .header a:visited span {
  background-color: #C00;
  padding: 2px 8px;
  color: white;
  border-radius: 7px;
}

.main_container {
  position: absolute;
  top: 0;
  margin-top: 77px;
  margin-bottom: 24px;
  white-space: nowrap;
  width: 100%;
}

div.left {
  z-index: 2;
  display: table-cell;
  vertical-align: top;
  width: 200px;
  color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.left ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}

div.left ul li {
  padding: 4px 10px;
  font-weight: bold;
}

div.left ul li > ul {
  padding-top: 10px;
}

div.left ul li > ul li {
  font-weight: normal;
}

div.left li a, div.left .li a:visited {
  text-decoration: none;
  color: #666;
}

div.left li a:hover {
  text-decoration: underline;
}

.main {
  vertical-align: top;
  display: table-cell;
  width: 100%;
  padding: 10px 20px 10px 40px;
}

.main ::slotted {
  display: inline-block;
}

.main > h1 {
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 4px;
  margin-top: 0;
  font-size: 16px;
  color: #444;
}

.main > ul > li {
  padding: 4px;
}

.main > p {
  line-height: 20px;
}

.main a, .main a:visited {
  color: black;
  text-decoration: underline;
}

.main a:hover {
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  padding: 5px;
  background-color: gray;
  width: 100%;
  color: white;
  font-size: 12px;
}

/* Examples styles */
img.profilepic {
  width: 36px;
  border-radius: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #666;
}

.form {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  margin-bottom: 15px;
  width: 270px;
}

.form .form-group {
  width: 200px;
}

.form .form-group label {
  width: 100px;
  padding-right: 10px;
  display: inline-block;
  font-weight: bold;
}

.form .form-group input, .form .form-group select {
  width: 150px;
  font-size: 13px;
  padding: 4px 8px;
  border-radius: 4px;
}

.form .form-group select option {
  padding: 4px 8px;
}

.info {
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #666;
  font-style: italic;
  padding: 20px;
  margin-left: 20px;
}

.modal-code {
  margin-top: 77px;
}

button {
  background-color: #e7e7e7;
  color: black;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 8px;
}

.example-grid {
  min-width: 800px;
}

.code {
  padding: 20px;
  background-color: #eeeeee;
  display: inline-block;
}
/*# sourceMappingURL=app.css.map */