$bgcolor: #fff;
$headertextcolor: #fff;
$textcolor: #000; 
$disabledcolor: #bbb;

table.digital-grid.skin-classic {
    border-collapse: separate;
    border-spacing: 0px;

    > thead > tr > th {
        padding: .5rem;
        background-color: #24292e;
        color: $headertextcolor;
        border-bottom: 1px solid black;
        border-left: 1px solid #ccc;
    }

    > thead > tr > th:first-child {
        border-left: none;
    }

    > tbody > tr > td {
        padding: .3rem .5rem;
        border-bottom: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        color: $textcolor;
    }

    > tbody > tr > td:last-child {
      border-right: 1px solid #dee2e6;
  }

    > tbody > tr.disabled td,
    > tbody > tr.disabled td * {
        color: $disabledcolor;
    }

    > tbody > tr.grid-selected td {
      background-color: #eee !important;
    }

  .pagination {
    color: $textcolor;
    width: 100%;
    overflow: hidden; 
    list-style: none;
    margin:0;
    padding: 0;

    li {
      background-color: #fff;
      padding: 0;
    } 

    li .page-link {
      padding: 0.4em;
      line-height: 2.4em; 
    }

    li.first, li.last, li.prev, li.next {
      cursor: pointer;
    }

    li.disabled {
      opacity: 0.5;
      cursor: default;
    }

    div.nowrap {
      white-space: nowrap;
    }

    span::selection, 
      div::selection {
        color: none;
        background: none;
      }
  }

}