table.digital-grid {
  overflow-x: hidden;
  overflow-y: hidden;

  > thead > tr > th {
    vertical-align: middle;
    text-align: left;

    /* sorting */
    table.grid-sort-link { 
      cursor: pointer;

      tbody tr td { 
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        padding-right: 5px !important;
      }

      .inactive {
        opacity: 0.5;
      }
    }
  }

  > tbody > tr {
    td {
      vertical-align: middle;
    }
  }

  > tbody > tr:hover {
    background-color: #FAFAFA;
  }

  /* paging */
  .pagination {
    width: 100%;
    overflow: hidden; 
    list-style: none; 
    margin:0;
    padding: 0;

    li {
      float: left;
    } 

    li.right {
      text-align: right;
      float: right;
    }

    li.right .page-link {
      border: 0;
    }
  }

  /* formatting classes */
  > thead > tr > th.bold,
  > tbody > tr td.bold {
      font-weight: bold;
  }

  > thead > tr > th.italic,
  > tbody > tr td.italic {
      font-style: italic;
  }

  > thead > tr > th.hidden,
  > tbody > tr td.hidden {
      display: none;
  }

  > thead > tr > th.center,
  > tbody > tr td.center {
      text-align: center;
  }

  > thead > tr > th.left,
  > tbody > tr td.left {
      text-align: left;
  }

  > thead > tr > th.right,
  > tbody > tr td.right {
      text-align: right;
  }

  > thead > tr > th.nowrap,
  > tbody > tr td.nowrap {
      white-space: nowrap;
  }

  @for $i from 1 through 10 {
    .pt#{$i} {
      padding-top: #{$i}px;
    }

    .pr#{$i} {
      padding-right: #{$i}px;
    }

    .pb#{$i} {
      padding-bottom: #{$i}px;
    }

    .pl#{$i} {
      padding-left: #{$i}px;
    }

    .mt#{$i} {
      margin-top: #{$i}px;
    }

    .mr#{$i} {
      margin-right: #{$i}px;
    }

    .mb#{$i} {
      margin-bottom: #{$i}px;
    }

    .ml#{$i} {
      margin-left: #{$i}px;
    }  
  }
}