.digital-grid-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    display: inline-block;

    table.digital-grid {
      display: table; 

      > thead > tr > th {
        position: sticky;
        top: 0;
        vertical-align: middle;
        text-align: left;

        /* sorting */
        table.grid-sort-link { 
          cursor: pointer;
 
          tbody tr td { 
            padding: 0 !important;
            margin: 0 !important;
            border: 0 !important;
            padding-right: 5px !important;
          }

          .inactive {
            opacity: 0.5;
          }
        }
      }

      > tbody > tr td {
        vertical-align: middle;
      }
    }

    /* paging */
    .pagination {
      width: 100%;
      overflow: hidden; 
      list-style: none; 
      margin:0;
      padding: 0;

      li {
        float: left;
      } 

      li.right {
        text-align: right;
        float: right;
      }

      li.right .page-link {
        border: 0;
      }
    }
} 

/* selection */
  
.digital-grid > tbody > tr.selected td,
.digital-grid > tbody > tr.selected {
    background-color: lightyellow; 
}

.digital-grid a,
.digital-grid a:hover,
.digital-grid a:visited,
.digital-grid > tbody > tr.selected td span.link {
  color: #007bff;
  text-decoration: none;
}

.digital-grid a:hover,
.digital-grid > tbody > tr.selected td span.link:hover {
  text-decoration: underline;
}
  
/* formatting classes */

.digital-grid > thead > tr > th.bold,
.digital-grid > tbody > tr td.bold {
    font-weight: bold;
}

.digital-grid > thead > tr > th.italic,
.digital-grid > tbody > tr td.italic {
    font-style: italic;
}

.digital-grid > thead > tr > th.hidden,
.digital-grid > tbody > tr td.hidden {
    display: none;
}

.digital-grid > thead > tr > th.center,
.digital-grid > tbody > tr td.center {
    text-align: center;
}

.digital-grid > thead > tr > th.nowrap,
.digital-grid > tbody > tr td.nowrap {
    white-space: nowrap;
}


@for $i from 1 through 10 {
  .pt#{$i} {
    padding-top: #{$i}px;
  }

  .pr#{$i} {
    padding-right: #{$i}px;
  }

  .pb#{$i} {
    padding-bottom: #{$i}px;
  }

  .pl#{$i} {
    padding-left: #{$i}px;
  }

  .mt#{$i} {
    margin-top: #{$i}px;
  }

  .mr#{$i} {
    margin-right: #{$i}px;
  }

  .mb#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml#{$i} {
    margin-left: #{$i}px;
  }  
}