/*
Silve/Gray flat skin for React Digital Grid
*/

$bgcolor: #5a5e63;
$headertextcolor: white;
$textcolor: #444; 
$disabledcolor: #bbb;
$evenrowbgcolor: #e9ecef;

.digital-grid-wrapper {
    table.digital-grid {
        border-collapse: separate;
        border-spacing: 1px;

        > thead > tr > th {
            padding: .7rem .5rem;
            background-color: $bgcolor;
            color: $headertextcolor;
        }

        > tbody > tr > td {
            padding: .5rem;
            border-bottom: 1px solid #dee2e6;
            color: $textcolor;
        }

        > tbody > tr.disabled td,
        > tbody > tr.disabled td * {
            color: $disabledcolor;
        }

        > tbody > tr:nth-of-type(even) td {
            background-color: $evenrowbgcolor;
        }
    }

    .pagination {
        color: $textcolor;
    }
}